<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="margin: 10px 5px;">
      <ion-back-button defaultHref="/login" text="" style="color: #707070;" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <h2 style="color: #707070;">Forgot your password?</h2>
  </div>
  <form class="form-container">
    <ion-list>

      <ion-item >
        <ion-label class="login-lable" position="stacked">Email/Account</ion-label>
        <ion-input type="text" name="username" [(ngModel)]="postData.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="login-lable"  position="stacked">Company</ion-label>
        <ion-input type="text" autocomplete="off" name="company" [(ngModel)]="postData.company"></ion-input>
      </ion-item>

      <ion-button expand="block" class="btn-style" color="primary" (click)="forgotPasswordAction()" >Send</ion-button>

    </ion-list>
  
  </form>
</ion-content>
