.form-container {
    margin: 35px 15px 15px 0;
}

.login-lable{
    font-size: medium;
    color: #3bc4c1;
    text-transform: uppercase;
}

.btn-style {
    margin-left: 15px; margin-top: 50px; font-size: 20px;
}