
.moring{
    color: #707070;
    width: 100%;
    margin: 5px 20px;
    padding-top: 16px;
    font-size: 22px;
}
.username{
    margin: 1px 20px;
}
.username h1 {
    font-size: 44px;
    color: #1dbc9c;
    font-weight: 700;
    padding-top: 0px;
    margin-top: -5px;
}

.btn-help{
    padding: 0px 10px;
    background: #cbe9ff;
    border-radius: 13px;
    margin: 5px;
    border: 1px solid #3ea0e6;
}

.nextview-blk{
    padding: 15px;
    border: 1px solid #eeeeee;
    margin: 15px;
    border-radius: 20px;
}
.bggray, .item-inner{
    background: #eeeeee;
}


.application{
    font-size: 17px;
    color: #707070;
}
.link-pages{
    font-size: 21px;
    color: #717070;
    font-weight: 500;
}
.item-native{
    background: #eeeeee;
}