<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button style="color:#707070"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="btn-help">
      <span style="color: #3ea0e6;">Help</span> 
      <ion-icon name="help-circle-outline" style="width: 23px; height: 23px; color: #3ea0e6;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-workreport-search [loginUser]="authUser"></app-workreport-search>
  <ion-item style="background: blueviolet;">
    <h3>Transportation Expenses</h3>
  </ion-item>
  <ion-item>
    {{postData.year}} {{postData.month}}
  </ion-item>
  <!--<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
    pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <app-transportation-expense ></app-transportation-expense> -->
  <ion-button expand="block" share="round" style="margin: 10px" color="primary" (click)="addAction()">+ Add</ion-button>
  <div class="table-responsive">
    <table class="table" #addtable> 
      <thead>
        <tr>
          <th scope="col" class="minwidth">Date</th>
          <th scope="col" class="minwidth">Destination</th>
          <th scope="col" class="minwidth">Transportation</th>
          <th scope="col" class="minwidth">Departure</th>
          <th scope="col" class="minwidth">Arrival</th>
          <th scope="col" class="minwidth">One Way/Round Trip</th>
          <th scope="col" class="minwidth">Voucher</th>
          <th scope="col" class="minwidth">Amount</th>
          <th scope="col" class="minwidth">Billing</th>
          <th scope="col" class="minwidth">Action</th>
        </tr>
      </thead>
    <tr *ngFor="let t of tranSportExpense; let i = index" >
      <td>{{ t.use_date | date }}</td>
      <td>{{t.destination}}</td>
      <td>
        <ion-select slot="end" value="{{t.transport_type}}" placeholder="Select One" >
          <ion-select-option *ngFor="let tp of transport_expen" value="{{ tp.id }}">{{ tp.value }}</ion-select-option>
        </ion-select> 
      </td>
      <td>{{t.from_area}}</td>
      <td>{{t.to_area}}</td>
      <td >
        <ion-select slot="end" value="{{t.rourte_type}}" placeholder="Select One" >
          <ion-select-option *ngFor="let r of tran_expen" value="{{ r.id }}">{{ r.value }}</ion-select-option>
        </ion-select> 
      </td>
      <td>
        <ion-select slot="end" value="{{t.print_flg}}" placeholder="Select One" >
          <ion-select-option *ngFor="let p of print_flgs" value="{{ p.id }}">{{ p.value }}</ion-select-option>
        </ion-select> 
      </td>
      <td>{{t.amount}}</td>
      <td>
        <ion-select slot="end" value="{{t.demand_type}}" placeholder="Select One" >
          <ion-select-option *ngFor="let b of demend_types" value="{{ b.id }}">{{ b.value }}</ion-select-option>
        </ion-select> 
      </td>
      <td><ion-button expand="block" share="round" style="margin: 10px" color="warning" (click)="removeAction()">Remove</ion-button></td>
    </tr>
  </table>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Total Amount</ion-label>
      <ion-input autocomplete="off" name="totalAmount" type="text" [(ngModel)]="postData.totalAmount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Customer Billing</ion-label>
      <ion-input autocomplete="off" name="customerBilling" type="text" [(ngModel)]="postData.customerBilling"></ion-input>
    </ion-item>
    <ion-button expand="block" share="round" style="margin: 10px" color="success" (click)="storeAction()">Store</ion-button>
    <p>&nbsp;</p>
  </ion-list>

</ion-content>
