<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-right: 5px;">
      <ion-back-button defaultHref="/home/feed" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <div style="text-align: center;">
    <app-logo></app-logo>
    <h1>Change Password</h1>
  </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">New Password</ion-label>
        <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input autocomplete="off" name="retype_password" type="password" [(ngModel)]="postData.retype_password"></ion-input>
      </ion-item>
      <ion-item>
        <p>more than 8 characters alphanumeric and symbols (_-.)</p>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" style="margin: 10px" color="success" (click)="changePasswordAction()">Change Password</ion-button>
  </form>

</ion-content>
