<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-right: 5px;">
      <ion-back-button defaultHref="/home/messages" text="" style="color: #707070;" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="btn-help">
      <span style="color: #3ea0e6;">Help</span> 
      <ion-icon name="help-circle-outline" style="width: 23px; height: 23px; color: #3ea0e6;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding='true'>
  <div style="text-align: center;">
    <h2 style="color: #707070;">Change your password</h2>
  </div>
  <form class="form-container">
    <ion-list style="margin-bottom: 25px;">
      <ion-item>
        <ion-label position="stacked" class="login-lable">New Password</ion-label>
        <ion-input autocomplete="off" name="new_password" type="password" [(ngModel)]="postData.new_password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" class="login-lable">Old Password</ion-label>
        <ion-input autocomplete="off" name="old_password" type="password" [(ngModel)]="postData.old_password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <p style="color: #707070;">more than 6 characters alphanumeric and symbols (_-.)</p>
      </ion-item>
    </ion-list>
    <ion-button expand="block" share="round" style="margin-left: 15px; font-size: 20px;" color="primary" (click)="changePasswordAction()">Change Password</ion-button>
  </form>

</ion-content>
