.logo-container {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    margin: 15px 15px 15px 0;
}

.login-lable{
    font-size: medium;
    color: #3bc4c1;
    text-transform: uppercase;
}