ion-menu{
    ion-content{
        --ion-background-color:#20cba9;
    }
}

.txtwhite{
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0px;
}

.bgsize{
    font-size: 1.4rem;
}
.xbgsize{
    font-size: 1.5rem;
}

.menu-display{
    padding: 5px 0;
}