<ion-app>
  <ion-menu side="start" menuId="first" contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Phoenix</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content paddding='true' >
      <ion-list>
        <ion-item (click)='navigateToLoginPage()'>
          <ion-icon name="home" slot="start"></ion-icon>
          Home</ion-item>
        <ion-item (click)="gotoWorkReportAction()">
          <ion-icon name="alarm-outline" slot="start"></ion-icon>
          Work Report
        </ion-item>
        <ion-item *ngIf="authUser?.name" (click)="changePasswordAction()" >
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          {{authUser?.name}}
        </ion-item>
        <ion-item (click)="logoutAction()" *ngIf="authUser?.name" >
          <ion-icon name="log-out" slot="start"></ion-icon>
          Logout
        </ion-item>
        <ion-item  *ngIf="!authUser?.name"  >
          <ion-icon name="log-out" slot="start"></ion-icon>
          Login
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> 
  <ion-router-outlet id="content"></ion-router-outlet>
  
</ion-app>