<ion-app>
  <ion-menu side="start"  menuId="first" contentId="content">
   <!--<ion-header>
      <ion-toolbar>
        <ion-title>Phoenix</ion-title>
      </ion-toolbar>
    </ion-header>-->
  
    <ion-content paddding='true' class="my-side-menu">
      <ion-list>
        <ion-item lines="none" (click)="closeMenu()" class="menu-display">
          <ion-icon name="close-outline" class="txtwhite xbgsize"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list class="menu-display">
        <ion-item (click)='navigateToLoginPage()' class="txtwhite bgsize" lines="none">
          Home
        </ion-item>
      </ion-list>
      <ion-list lines="none" class="menu-display" (click)="gotoWorkReportAction()">
        <ion-item class="txtwhite">
          Applications
        </ion-item>
        <ion-item class="txtwhite bgsize">
          Web Report Application
        </ion-item>
      </ion-list>
      <ion-list lines="none" class="menu-display" (click)="gotoWorkReportAction()">
        <ion-item class="txtwhite">
          Applications
        </ion-item>
        <ion-item class="txtwhite bgsize">
          Transporation Expenses
        </ion-item>
      </ion-list>
      <ion-list lines="none" class="menu-display" (click)="gotoWorkReportAction()">
        <ion-item class="txtwhite">
          Applications
        </ion-item>
        <ion-item class="txtwhite bgsize">
          Customer Work Report
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item (click)='gotProfileAction()' class="txtwhite bgsize menu-display" lines="none">
          My Profile
        </ion-item>
      </ion-list>
      <ion-list lines="none" class="menu-display" (click)="gotoWorkReportAction()">
        <ion-item class="txtwhite">
          Help
        </ion-item>
        <ion-item class="txtwhite bgsize">
          User Guide
        </ion-item>
        <ion-item class="txtwhite bgsize">
          FAQ
        </ion-item>
        <ion-item class="txtwhite bgsize">
          Inquiry
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item (click)="goSettingAction()" *ngIf="authUser?.name" class="txtwhite bgsize menu-display" lines="none">
          Settings
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item (click)="logoutAction()" *ngIf="authUser?.name" class="txtwhite bgsize menu-display" lines="none">
          Logout
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item (click)="logoutAction()" *ngIf="!authUser?.name" class="txtwhite bgsize menu-display" lines="none">
          Login
        </ion-item>
      </ion-list>
     
    </ion-content>
  </ion-menu> 
  <ion-router-outlet id="content"></ion-router-outlet>
  
</ion-app>