.btn-help{
    padding: 0px 10px;
    background: #cbe9ff;
    border-radius: 13px;
    margin: 5px;
    border: 1px solid #3ea0e6;
}
.titlefont{
    font-size: 1.5em; font-weight: bold; color: #707070;
}

b {
    color: #707077;
}
p{
    margin-top: 0px;
}

.topblk {
    border: 1px solid #4ac9af;
    padding: 5px;
    background-color: #f2fffd;
    margin: 15px;
    border-radius: 20px;
}
.rowitem{
    background-color: #f2fffd;
    border-top: 1px dashed #4ac9af;
    padding-top: 5px;
}