<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-right: 5px;">
      <ion-back-button defaultHref="/home/workreport?year={{ postData.year }}&month={{ postData.month }}" text="" style="color: #707070;" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="btn-help">
      <span style="color: #3ea0e6;">Help</span> 
      <ion-icon name="help-circle-outline" style="width: 23px; height: 23px; color: #3ea0e6;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
    pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <app-clientinfo [loginUser]="authUser"></app-clientinfo> -->
  <ion-list>
    <ion-item lines="none" >
      <p>Applications <br>
        <span class="titlefont">Client Information</span> 
      </p>
  
    </ion-item>
  </ion-list>
  
  <ion-list class="topblk" lines="none">
    
    <ion-grid >
      <ion-row>
        <ion-col size="1"><ion-icon name="create-outline" style="font-size: 1.4rem;"></ion-icon></ion-col>
        <ion-col size="11">
          <p style="margin-top: 0px;">
           <span style="font-size: 1.1rem;">Edit Customer Info</span> <br>
If there is any incompleteness in customer
information, please contact your
representative.

          </p>
        </ion-col>
      </ion-row>
      <ion-row class="rowitem">
        <ion-col size="1">
          <ion-icon name="trash-outline" style="font-size: 1.4rem;"></ion-icon>
        </ion-col>
        <ion-col size="11">
           <span style="font-size: 1.1rem;">Delete Customer Info</span> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list *ngFor="let clinfo of data;" lines="none">
    <ion-item-sliding>
      <ion-item >
        <p><b>Individual Contract No.: </b><br>
          {{ clinfo.individual_contract_no }}</p>
      </ion-item>
      <ion-item >
        <p><b>Customer Name:</b><br> 
          {{ clinfo.client_name }}</p>
      </ion-item>
      <ion-item>
        <p><b>Project Name:</b><br> 
          {{ clinfo.project_name }}</p>
      </ion-item>
      <ion-item>
        <p><b>Contract Period:</b> <br> 
          {{ clinfo.start_contract_date | date }} ~ {{ clinfo.end_contract_date | date }} </p>
      </ion-item>
      <ion-item >
        <p><b>Contract Type:</b><br> 
          {{ getContractTypeById(clinfo.contract_type) }}  </p>
      </ion-item>
      <ion-item >
        <p><b>During working hours:</b><br> 
          {{ clinfo.min_width_time }}h ~ {{ clinfo.max_width_time }}h </p>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <!--<ion-item>
        <p>Contract End: 
          <ion-datetime displayFormat="YYYY-MM-DD" value="{{ clinfo?.end_contract_date}}"></ion-datetime>
        </p>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option >Unread</ion-item-option>
      </ion-item-options>-->
  

  <ion-list lines="none">
    <ion-item>
      <h4>Working Hours:</h4>
    </ion-item>
    <ion-item>
      <div *ngFor="let p of wkPattern; let i=index;" >
        <p *ngIf="p.pattern_flg == 1">
          {{ p.pattern }} {{ p.start_time }} ~ {{ p.end_time }} Break Time: {{ p.break_time }}min {{ p.working_time }}h
        </p>
      </div>
    </ion-item>
  </ion-list>

  <ion-list lines="none" style="margin-bottom: 20px;">
    <ion-item>
      <ion-checkbox slot="start" color="primary" ></ion-checkbox>
      Break Time {{ wkingHour?.pattern }} <br/>
      {{ wkingHour?.start_time }}~{{ wkingHour?.end_time }} Break Time {{ wkingHour?.break_time }} {{ wkingHour?.working_time }}h  
    </ion-item>
  </ion-list>
  
</ion-content>
