<ion-button expand="block" share="round" style="margin: 10px" color="primary" (click)="addAction()">+ Add</ion-button>
  <div class="table-responsive">
    <table class="table" #addtable> 
      <thead>
        <tr>
          <th scope="col" class="minwidth">Date</th>
          <th scope="col" class="minwidth">Destination</th>
          <th scope="col" class="minwidth">Transportation</th>
          <th scope="col" class="minwidth">Departure</th>
          <th scope="col" class="minwidth">Arrival</th>
          <th scope="col" class="minwidth">One Way/Round Trip</th>
          <th scope="col" class="minwidth">Voucher</th>
          <th scope="col" class="minwidth">Amount</th>
          <th scope="col" class="minwidth">Billing</th>
          <th scope="col" class="minwidth">Action</th>
        </tr>
      </thead>
    <tr *ngFor="let t of tranSportExpense; let i = index" >
      <td>{{ t.use_date | date }}</td>
      <td>{{t.destination}}</td>
      <td>
        <ion-select slot="end" value="{{t.transport_type}}" placeholder="Select One" >
          <ion-select-option *ngFor="let tp of transport_expen" value="{{ tp.id }}">{{ tp.value }}</ion-select-option>
        </ion-select> 
      </td>
      <td>{{t.from_area}}</td>
      <td>{{t.to_area}}</td>
      <td >
        <ion-select slot="end" value="{{t.rourte_type}}" placeholder="Select One" >
          <ion-select-option *ngFor="let r of tran_expen" value="{{ r.id }}">{{ r.value }}</ion-select-option>
        </ion-select> 
      </td>
      <td>
        <ion-select slot="end" value="{{t.print_flg}}" placeholder="Select One" >
          <ion-select-option *ngFor="let p of print_flgs" value="{{ p.id }}">{{ p.value }}</ion-select-option>
        </ion-select> 
      </td>
      <td>{{t.amount}}</td>
      <td>
        <ion-select slot="end" value="{{t.demand_type}}" placeholder="Select One" >
          <ion-select-option *ngFor="let b of demend_types" value="{{ b.id }}">{{ b.value }}</ion-select-option>
        </ion-select> 
      </td>
      <td><ion-button expand="block" share="round" style="margin: 10px" color="warning" (click)="removeAction()">Remove</ion-button></td>
    </tr>
  </table>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Total Amount</ion-label>
      <ion-input autocomplete="off" name="totalAmount" type="text" [(ngModel)]="postData.totalAmount"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Customer Billing</ion-label>
      <ion-input autocomplete="off" name="customerBilling" type="text" [(ngModel)]="postData.customerBilling"></ion-input>
    </ion-item>
    <ion-button expand="block" share="round" style="margin: 10px" color="success" (click)="storeAction()">Store</ion-button>
    <p>&nbsp;</p>
  </ion-list>

