.table-responsive{
    overflow-x:auto;
    overflow-y:auto;
    height: auto;
    margin: 15px;
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
  }

  .minwidth{
    min-width: 135px;
  }
  .firstWidth{
    width: auto;
  }

tr:nth-child(even){background-color: #f2f2f2}