<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/home/workreport" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Work Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item style="background: blueviolet;">
    <h3>Work Report Date: {{ wkreport_detail_date | date }}</h3>
  </ion-item>
  <div class="table-responsive">
    <table class="table"> 
      <thead>
        <tr>
          <th scope="col" class="firstWidth">#</th>
          <th scope="col" class="minwidth">Working Hour</th>
          <th scope="col" class="minwidth">Deducation</th>
          <th scope="col" class="minwidth">End Time</th>
          <th scope="col" class="minwidth">Night Break</th>
          <th scope="col" class="minwidth">Night Work Time</th>
          <th scope="col" class="minwidth">Over Time</th>
          <th scope="col" class="minwidth">Reason</th>
          <th scope="col" class="minwidth">Report Date</th>
          <th scope="col" class="minwidth">Check In</th>
          <th scope="col" class="minwidth">Total Break</th>
          <th scope="col" class="minwidth">Total Work Time</th>
          <th scope="col" class="minwidth">Att Type</th>
        </tr>
      </thead>
    <tr *ngFor="let r of wkreport_detail; let i = index" >
      <td>{{ r.report_date | date: 'MM/dd' }}</td>
      <td><ion-select slot="end" value="{{r.atendance_type}}" name="custWkReport" placeholder="Select One" >
        <ion-select-option *ngFor="let p of workPattern" value="{{ p.pattern }}">勤務時間_パタン{{ p.pattern }}</ion-select-option>
      </ion-select> </td>
      <td>{{r.deduction_time}}</td>
      <td>{{r.end_time}}</td>
      <td>{{r.night_break_time}}</td>
      <td>{{r.night_work_time}}</td>
      <td>{{r.orver_work_time}}</td>
      <td>{{r.reason}}</td>
      <td>{{r.report_date | date}}</td>
      <td>{{r.start_time}}</td>
      <td>{{r.total_break_time}}</td>
      <td>{{r.total_work_time}}</td>
      <td>
        <ion-select slot="end" value="{{r.atendance_type}}" name="custWkReport" placeholder="Select One" >
          <ion-select-option *ngFor="let a of attendance_type" value="{{ a.id }}">{{ a.value }}</ion-select-option>
        </ion-select> 
      </td>
    </tr>
  </table>
  </div>

  <ion-list>
    <ion-item><h3>Total</h3></ion-item>
  </ion-list>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" >Working Hours</th>
          <th scope="col" >Overtime (Total)	</th>
          <th scope="col" >Night Work Hours</th>
          <th scope="col" >Deduct Hours</th>
        </tr>
      </thead>
        <tr>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.mng_total_work_time}}" name="totalWH" [(ngModel)]="postData.totalWH"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.mng_orver_work_time}}" name="totalOverTime" [(ngModel)]="postData.totalOverTime"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.mng_night_work_time}}" name="totalNight" [(ngModel)]="postData.totalNight"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.mng_deduction_time}}" name="totalDeduct" [(ngModel)]="postData.totalDeduct"></ion-input></td>
        </tr>
      </table>
  </div>

  <ion-list>
    <ion-item><h3>Result</h3></ion-item>
  </ion-list>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" >Working Hours</th>
          <th scope="col" >Overtime (Total)	</th>
          <th scope="col" >Overtime (Payments)</th>
          <th scope="col" >Night Work Hours</th>
          <th scope="col" >Deduct Hours</th>
          <th scope="col" class="minwidth">Exercise of Paid Holidays</th>
          <th scope="col" class="minwidth">Exercise of Paid Half Holiday</th>
          <th scope="col" >Total</th>
          <th scope="col" >Absenteeism Days</th>
          <th scope="col" >Closing Dates</th>
        </tr>
      </thead>
        <tr>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.rslt_operated_time}}" name="rstWH" [(ngModel)]="postData.rstWH"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.rslt_orver_work_time}}" name="rstOvt" [(ngModel)]="postData.rstOvt"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.rslt_salary_time}}" name="rstOvtPay" [(ngModel)]="postData.rstOvtPay"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.rslt_night_work_time}}" name="rstNgWH" [(ngModel)]="postData.rstNgWH"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.rslt_deduction_time}}" name="rstDeHr" [(ngModel)]="postData.rstDeHr"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.rslt_holiday}}" name="rstPaidHld" [(ngModel)]="postData.rstPaidHld"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.rslt_harf_holiday}}" name="rstPaidHfHld" [(ngModel)]="postData.rstPaidHfHld"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.rslt_total_holiday}}" name="rstTotal" [(ngModel)]="postData.rstTotal"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.rslt_absence_num}}" name="rstAbsDay" [(ngModel)]="postData.rstAbsDay"></ion-input></td>
          <td><ion-input type="text" class="borderOne" value="{{wkReport?.rslt_special_holiday}}" name="rstCloseDate" [(ngModel)]="postData.rstCloseDate"></ion-input></td>
        </tr>
      </table>
  </div>
</ion-content>
