<ion-list lines="none">
  <ion-item >
    <p class="fontstyle">Status: <span class="statusVal">{{ mbInfo?.status_name }}</span></p>
  </ion-item>
</ion-list>
<ion-list lines="none" class="nextview-blk" (click)="goMoreInfoClient('/home/client')">
  <ion-item class="link-pages" color="newColor" >
    Customer Information
    <ion-icon slot="end" style="font-size: 24px;" name="chevron-forward-outline"></ion-icon>
  </ion-item>
</ion-list>
<ion-list class="bottomline" lines="none">
  <ion-item >
    <p class="fontstyle"></p>Transportation Expenses:
    <ion-select slot="end" value="{{mbInfo?.dairy_transrate_flg}}" placeholder="Select One" >
      <ion-select-option *ngFor="let t of tran_expen" value="{{ t.id }}">{{ t.value }}</ion-select-option>
    </ion-select> 
  </ion-item>
</ion-list>
<div class="table-responsive">
  <table class="table"> 
    <thead>
      <tr>
        <th scope="col" class="firstWidth">
          <div class="btn-style active">
            Work Report
          </div>
        </th>
        <th scope="col" class="minwidth">
          <div class="btn-style" style="min-width: 250px;">
            Transportation Expenses
          </div>
        </th>
        <th scope="col" class="minwidth">
          <div class="btn-style" style="min-width: 230px;">
            Customer Work Report
          </div>
        </th>
      </tr>
    </thead>
  </table>
</div>

<ion-list lines="none" class="filter-blk">
  <ion-item class="filter-pages" color="newColor" >
    Filter:
    <ion-icon slot="end" name="chevron-up-outline" style="font-size: 15px;"></ion-icon>
    <!-- <ion-icon slot="end" name="chevron-down-outline" style="font-size: 13px;"></ion-icon> -->
  </ion-item>
  <ul class="checklist">
    <li *ngFor="let entry of checkBoxList">
      <ion-checkbox class="checkbox-style" slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
      {{entry.val}}
    </li>
  </ul>
  <ul class="checklist">
    <li>
      <ion-icon slot="start" name="list-outline"></ion-icon>
      <ion-label style="margin-left: 5px;">List</ion-label>
    </li>
    <li>
      <ion-icon slot="start" name="calendar-outline"></ion-icon>
      <ion-label style="margin-left: 5px;">Calendar</ion-label>
    </li>
  </ul>
  <div style="border-top: 1px dashed #f0f0f0;clear: both; height: 5px;">&nbsp;</div>
  <ul class="checklist">
    <li>
      <ion-icon slot="start" name="expand-outline"></ion-icon>
      <ion-label style="margin-left: 5px;">Expand dates</ion-label>
    </li>
    <li>
      <ion-icon slot="start" name="contract-outline"></ion-icon>
      <ion-label style="margin-left: 5px;">Collapse dates</ion-label>
    </li>
  </ul>
  <!-- <ion-item *ngFor="let entry of checkBoxList">
    <ion-label>{{entry.val}}</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
  </ion-item> -->
</ion-list>

<ion-list lines="none">
  <ion-item>
    <ul class="checklist">
      <li>
        <ion-label style="color: #cccccc;">Jump to: </ion-label>
      </li>
      <li>
        <ion-label >Total</ion-label>
      </li>
      <li>
        <ion-label >Result</ion-label>
      </li>
    </ul>
  </ion-item>
</ion-list>
<div *ngFor="let item of information; let i = index ">
<ion-list lines="none" class="date-container" *ngIf="item.start_time == '00:00' && isWeekEnd(item.report_date) == false" >
  <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}" class="date-blk" color="newColor" >
    <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
    <p>
      <span class="datetitle">{{ item.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
      <span> Working hours not entered</span>
    </p>
    <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!item.open" name="chevron-down-outline"></ion-icon>
    <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="item.open" name="chevron-up-outline"></ion-icon>
  </ion-item>
  <ion-grid class="total-blk" [ngStyle]="!item.open ? {'display': 'none'} : {'display': 'block'}"  >
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Work Hours</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime" type="text" value="{{ item.start_time }}"></ion-input>
      </ion-col>
      <ion-col size="1" style="text-align: center;">-</ion-col>
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.end_time }}"></ion-input>
      </ion-col>
      <ion-col size="5">
        
      </ion-col> 
      <ion-col size="7">
        <!-- <ion-select  value="2" placeholder="Select One" >
          <ion-select-option >Stardard Hour</ion-select-option>
          <ion-select-option >Stardard Hour</ion-select-option>
        </ion-select> -->
        <ion-select class="dropdownstyle" value="{{ item.atendance_type }}" name="custWkReport" placeholder="-" >
          <ion-select-option *ngFor="let p of workPatternExist" value="{{ p.pattern }}">勤務時間_パタン{{ p.pattern }}</ion-select-option>
        </ion-select>
        <!-- <ion-input style="border: 1px solid #e4e4e4; text-align: center;" type="number" value="333"></ion-input> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Break Time</span> 
      </ion-col> 
      <ion-col size="2">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.total_break_time }}"></ion-input>
      </ion-col>
      <ion-col size="5">
        minutes
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Night Break Time</span> 
      </ion-col> 
      <ion-col size="2">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.night_break_time }}"></ion-input>
      </ion-col>
      <ion-col size="5">
        minutes
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Working Hours</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.total_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Amount Overtime</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.orver_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Late Night Work</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Deduction</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Attendance Type</span> 
      </ion-col> 
      <ion-col size="7">
        <ion-select class="dropdownstyle borderRadius" value="{{ item.atendance_type }}" placeholder="Select One" >
          <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Reason</span> 
      </ion-col> 
      <ion-col size="7">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.reason }}"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>

<ion-list lines="none" class="date-gray-container" *ngIf="item.start_time != '00:00' && isWeekEnd(item.report_date) == false">
  <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}" class="date-gray-blk" color="newColor" >
    <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
    <p>
      <span class="datetitle">{{ item.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
      <span> You have entered Working hours </span>
    </p>
    <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!item.open" name="chevron-down-outline"></ion-icon>
    <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="item.open" name="chevron-up-outline"></ion-icon>
  </ion-item>
  <ion-grid class="total-blk" [ngStyle]="!item.open ? {'display': 'none'} : {'display': 'block'}"  >
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Work Hours</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime" type="text" value="{{ item.start_time }}"></ion-input>
      </ion-col>
      <ion-col size="1" style="text-align: center;">-</ion-col>
      <ion-col size="3">
        <ion-input class="worktime" type="text" value="{{ item.end_time }}"></ion-input>
      </ion-col>
      <ion-col size="5">
        
      </ion-col> 
      <ion-col size="7">
        <ion-select class="worktime borderRadius" value="2" placeholder="Select One" >
          <ion-select-option >Stardard Hour</ion-select-option>
          <ion-select-option >Stardard Hour</ion-select-option>
        </ion-select>
        <!-- <ion-input style="border: 1px solid #e4e4e4; text-align: center;" type="number" value="333"></ion-input> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Break Time</span> 
      </ion-col> 
      <ion-col size="2">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.total_break_time }}"></ion-input>
      </ion-col>
      <ion-col size="5">
        minutes
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Night Break Time</span> 
      </ion-col> 
      <ion-col size="2">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.night_break_time }}"></ion-input>
      </ion-col>
      <ion-col size="5">
        minutes
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Working Hours</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.total_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Amount Overtime</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.orver_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Late Night Work</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Deduction</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Attendance Type</span> 
      </ion-col> 
      <ion-col size="7">
        <ion-select class="dropdownstyle" value="{{ item.atendance_type }}" placeholder="Select One" >
          <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Reason</span> 
      </ion-col> 
      <ion-col size="7">
        <ion-input style="border: 1px solid #e4e4e4; color: #707070" type="text" value="{{ item.reason }}"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>

<ion-list lines="none" class="date-weekend-container" *ngIf="isWeekEnd(item.report_date) == true">
  <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}" class="date-weekend-blk" color="newColor" >
    <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
    <p>
      <span class="datetitle">{{ item.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
      <span>No Entries</span>
    </p>
    <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!item.open" name="chevron-down-outline"></ion-icon>
    <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="item.open" name="chevron-up-outline"></ion-icon>
  </ion-item>
  <ion-grid class="total-blk" [ngStyle]="!item.open ? {'display': 'none', 'transition': '2s'} : {'display': 'block', 'transition': '2s'}"  >
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Work Hours</span> 
      </ion-col> 
      <ion-col size="3"></ion-col>
      <ion-col size="1" style="text-align: center;"></ion-col>
      <ion-col size="3"></ion-col>
      <ion-col size="5">
        
      </ion-col> 
      <ion-col size="7"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Break Time</span> 
      </ion-col> 
      <ion-col size="2"></ion-col>
      <ion-col size="5">
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Night Break Time</span> 
      </ion-col> 
      <ion-col size="2"></ion-col>
      <ion-col size="5">
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Working Hours</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.total_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Amount Overtime</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.orver_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Late Night Work</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Deduction</span> 
      </ion-col> 
      <ion-col size="3">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Attendance Type</span> 
      </ion-col> 
      <ion-col size="7">
        <ion-select class="dropdownstyle borderRadius" value="{{ item.atendance_type }}" placeholder="Select One" >
          <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5">
        <span style="margin-top: 5px;">Reason</span> 
      </ion-col> 
      <ion-col size="7">
        <ion-input class="worktime borderRadius" type="text" value="{{ item.reason }}"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
</div>

<ion-list lines="none" class="date-white-container">
  <ion-item class="date-white-blk" color="newColor" >
    <span style="font-size: 20px;">Total</span>
    <ion-icon slot="end" style="font-size: 24px;color: #707070;" name="chevron-up-outline"></ion-icon>
  </ion-item>
  <ion-grid class="total-blk">
    <ion-row>
      <ion-col size="8">Working Hours</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Overtime</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Late Night Working Hours</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Deduction Hours</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
  </ion-grid>
</ion-list>

<ion-list lines="none" class="date-white-container">
  <ion-item tappable (click)="toggleSection(32)" [ngClass]="{'section-active': total, 'section': !total}" class="date-white-blk" color="newColor" >
    <span style="font-size: 20px;">Result</span>
    <ion-icon slot="end" style="font-size: 24px;color: #707070;" name="chevron-up-outline"></ion-icon>
  </ion-item>
  <ion-grid class="total-blk">
    <ion-row>
      <ion-col size="8">Working Hours</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Overtime</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Overtime Payments</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Late Night Working Hours</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Deduction Hours</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Exercise of Paid Holidays</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Exercise of Paid Half Holidays</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Total</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Absenteeism Days</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">Closing Dates</ion-col>
      <ion-col size="4" class="textcenter">0</ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
<ion-grid>
  <ion-row>
    <ion-col size="6">&nbsp;</ion-col>
    <ion-col size="6" >
      <div class="bd1-color">
        <ion-icon slot="start"class="icon-style" name="cloud-download-outline"></ion-icon>
        Download PDF
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<div id="transportext">
  <ion-list lines="none" class="date-container" *ngFor ="let te of tranExpen; let i = index" >
    <ion-item tappable (click)="toggleSection2(i)" [ngClass]="{'section-active': te.open, 'section': !te.open}" class="date-blk" color="newColor" >
    <!-- <ion-item tappable (click)="toggleSection(90)"  class="date-blk" color="newColor" > -->
      <p>
        <span class="datetitle">Transportation Expenses</span><br>
        {{ te.use_date | date: 'yyyy/MM/dd EEEE' }}
      </p>
      <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!te.open" name="chevron-down-outline"></ion-icon>
      <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="te.open" name="chevron-up-outline"></ion-icon>
    </ion-item>
    <ion-grid class="total-blk" [ngStyle]="!te.open ? {'display': 'none'} : {'display': 'block'}"  >
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Date</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-datetime class="worktime borderRadius" value="{{ te.use_date }}" display-timezone="utc"></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Destination</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-input class="worktime borderRadius" type="text" value="{{ te.destination }}"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Tronsporation</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-select class="worktime borderRadius" value="{{ te.transport_type }}" placeholder="Select One" >
            <ion-select-option *ngFor="let s of transporation" value="{{ s.id }}">{{ s.value }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Departure</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-input class="worktime borderRadius" type="text" value="{{ te.from_area }}"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Arrival</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-input class="worktime borderRadius" type="text" value="{{ te.to_area }}"></ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Trip Type</span> 
        </ion-col> 
        <ion-col size="6">
          <ul class="checklist">
            
            <li >
              <label *ngIf="te.rourte_type == 0">
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="true"  ></ion-checkbox>
                One-way<br>
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="false"  ></ion-checkbox>
                Round-Trip
              </label>
              <label *ngIf="te.rourte_type == 1">
                <ion-checkbox  class="checkbox-style" [checked]="false" slot="start" ></ion-checkbox>
                One-way<br>
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="true"  ></ion-checkbox>
                Round-Trip
              </label>
              
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Voucher</span> 
        </ion-col> 
        <ion-col size="6">
          <ul class="checklist">
            <li >
              <label *ngIf="te.print_flg == 0">
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="true"  ></ion-checkbox>
                No
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="false"  ></ion-checkbox>
                Yes
              </label>
              <label *ngIf="te.print_flg == 1">
                <ion-checkbox  class="checkbox-style" [checked]="false" slot="start" ></ion-checkbox>
                No
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="true"  ></ion-checkbox>
                Yes
              </label>
              
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Amount</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-input type="number" class="worktime borderRadius" value="{{ te.amount }}"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Billing</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-select class="worktime borderRadius" value="{{ te.demand_type }}" placeholder="Select One" >
            <ion-select-option *ngFor="let d of deman_type" value="{{ d.id }}">{{ d.value }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Action</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-button color="white" class="del-btn" >
            <ion-icon slot="start" name="trash-outline" style="font-size: 1.2rem;"></ion-icon>
              Remove
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <div class="addnewblg">
      <ion-button color="secondary" class="add-transport-btn" >
          + Add another transporation expense
      </ion-button>
  </div>


<div class="totol-container">
  <ion-list class="total-container">
    <ion-grid>
      <ion-row>
        <ion-col>Total Amount</ion-col>
        <ion-col>
          <ion-input type="number" class="worktime borderRadius" style="padding: 5px !important"  value=""></ion-input>
        </ion-col>
        <ion-col class="textcenter" size="2">JPY</ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>Customer Billing</ion-col>
        <ion-col>
          <ion-input type="number" class="worktime borderRadius" style="padding: 5px !important" value=""></ion-input>
        </ion-col>
        <ion-col class="textcenter" size="2">JPY</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">&nbsp;</ion-col>
        <ion-col size="6" style="padding-top: 15px;">
          <div class="bd1-color">
            <ion-icon slot="start"class="icon-style" name="cloud-download-outline"></ion-icon>
            Download PDF
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</div>
</div> <!-- End Transporation Expense -->

<div id="customerWorkReport">
  <ion-list lines="none" class="date-white-container" >
    <ion-item tappable (click)="toggleSectionc()" [ngClass]="{'section-active': customerWorkReport?.open, 'section': !customerWorkReport?.open}" class="customer-blk" color="newColor" >
      <!-- <ion-item tappable (click)="toggleSection(90)"  class="date-blk" color="newColor" > -->
        <p>
          <span style="font-weight: 500;color: #707070;">Detail</span>
        </p>
        <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!customerWorkReport?.open" name="chevron-down-outline"></ion-icon>
        <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="customerWorkReport?.open" name="chevron-up-outline"></ion-icon>
    </ion-item>
    <ion-grid class="detail-box">
      <ion-row>
        <ion-col size="5"><b style="color: #707070;">Customer Name</b></ion-col>
        <ion-col size="7">Customer Name here</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5"><b style="color: #707070;">Project Name</b></ion-col>
        <ion-col size="7">Project Name</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5"><b style="color: #707070;">Contract Period</b></ion-col>
        <ion-col size="7">2020/06/01 to 2020/06/01</ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list lines="none">
    <ion-item>
      <b style="color: #707070;">Customer Work Report</b>
      <ion-select slot="end" class="dropdownstyle borderRadius" style="padding: 7px 13px;" value="0" placeholder="Select One" >
        <ion-select-option *ngFor="let t of tran_expen" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <p>If there is a work report for submitting the customer,
        please upload it.</p>
    </ion-item>
  </ion-list>
  <ion-grid style="border-bottom: 1px dashed #000000; margin: 15px; padding-bottom: 15px;">
    <ion-row>
      <ion-col size="6">
        <div class="bd1-color">
          <ion-icon slot="start"class="icon-style" name="cloud-download-outline"></ion-icon>
          Download PDF
        </div>
      </ion-col>
      <ion-col>
        <div class="bd1-color" style="border: 1px solid #feaa46; color: #feaa46;">
          <ion-icon slot="start"class="icon-style" style="color: #feaa46;" name="trash-outline"></ion-icon>
          Remove
        </div>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-list lines="none" class="date-white-container" >
    <ion-item style="border-bottom: 1px solid #ebebeb;" tappable (click)="toggleSectionc()" [ngClass]="{'section-active': customerWorkReport?.open, 'section': !customerWorkReport?.open}" class="customer-blk" color="newColor" >
      <!-- <ion-item tappable (click)="toggleSection(90)"  class="date-blk" color="newColor" > -->
        <p>
          <span style="font-weight: 700;color: #707070; font-size: 1.3rem;">Total</span>
        </p>
        <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!customerWorkReport?.open" name="chevron-down-outline"></ion-icon>
        <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="customerWorkReport?.open" name="chevron-up-outline"></ion-icon>
    </ion-item>
    <!-- <ion-item tappable (click)="toggleSection(32)" [ngClass]="{'section-active': total, 'section': !total}" class="date-white-blk" color="newColor" >
      <span style="font-size: 20px;">Result</span>
      <ion-icon slot="end" style="font-size: 24px;color: #707070;" name="chevron-up-outline"></ion-icon>
    </ion-item> -->
    <ion-item>
      <p style="width: 100%">
        <span style="float: left;font-weight: 700;color: #707070; padding: 15px 5px;">Actual Working Hours</span>
        <span style="float: right;padding: 15px 24px;">0</span>
      </p>
    </ion-item>
  </ion-list>
</div>
<!--<ion-list>
  <ion-item >
    <p>Employee ID: {{ comp_sName }}_{{ memberNoFormat(mbInfo?.member_no) }} </p>
  </ion-item>
  <ion-item >
    <p>Applied Date: {{ mbInfo?.applying_date }} </p>
  </ion-item>
  <ion-item >
    <p>Employee Name: {{ mbInfo?.first_name }} {{ mbInfo?.last_name }} </p>
  </ion-item>
  <ion-item >
    <p>Own Department: {{ mbInfo?.unit_name }} </p>
  </ion-item>
  
  <ion-item>
    <ion-label>Transportation Expenses: </ion-label>
    <ion-select slot="end" value="{{mbInfo?.dairy_transrate_flg}}" placeholder="Select One" >
      <ion-select-option *ngFor="let t of tran_expen" value="{{ t.id }}">{{ t.value }}</ion-select-option>
    </ion-select> 
  </ion-item>
</ion-list>
<ion-item>
  <p>Note: {{ mbInfo?.note }} </p>
</ion-item> -->
