.fontstyle{
    font-weight: 600;
}
.statusVal{
    color: #feac4b;
}
.nextview-blk{
    padding: 5px;
    border: 1px solid #6cd4c0;
    margin: 15px;
    border-radius: 20px;
    background: #f2fffd;
}

.filter-blk{
    padding: 5px;
    border: 1px solid #f0f0f0;
    margin: 15px;
    border-radius: 20px;
}

.date-container {
   /* background: #d6f2ec; */
    border: 1px solid #f0f0f0;
    margin: 15px;
    border-radius: 20px;
}
.date-gray-container {
    background: #f2f2f2;
    border: 1px solid #f0f0f0;
    margin: 15px;
    border-radius: 20px;
}
.date-weekend-container {
    background: #e3e3e3;
    border: 1px solid #f0f0f0;
    margin: 15px;
    border-radius: 20px;
}
.date-white-container {
    background: #ffffff;
    border: 1px solid #f0f0f0;
    margin: 15px;
    border-radius: 20px;
}
.datetitle{
    font-size: 1.3rem;
    font-weight: 600;
    color: #7f7270;
}

.dropdownstyle {
    border: 1px solid #e4e4e4; color: #707070; padding: 5px; text-align: center; border-radius: 5px;
}

.textcenter {
    text-align: center;
}

/* .round {
    --width: 84px;
    height: 43px;
    --border-radius: 10px;
    --vertical-align: middle;
    --padding-start: 15px;
    --padding-end: 15px;
    --background-color: #ffffff;
    font-size: 20px;
} */

.bd1-color {
    border: 1px solid #2ec1a3;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 17px;
    padding: 8px 5px 8px 5px;
    color: #2ec1a3;
    margin-bottom: 10px;
    margin-right: 5px;
}

.icon-style{
    color: #2ec1a3;
    font-size: 23px;
    margin: 1px 5px -3px 16px;
}

.worktime{
    border: 1px solid #e4e4e4; text-align: center; color: #707070; padding: 5px; 
}

.del-btn {
    border: 1px solid #feaa48;
    color: #feaa48;
    border-radius: 8px;
}

.borderRadius {
    border-radius: 8px !important;
}

.date-blk {
    background: #d6f2ec;
    padding: 5px;
}
.date-gray-blk {
    background: #f2f2f2;
    padding: 5px;
}
.date-weekend-blk {
    background: #e3e3e3;
    padding: 5px;
}
.date-white-blk {
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    padding: 5px;
}
.total-blk {
    padding: 15px; 
    font-size: 1.15rem;
    background: #ffffff;
}
.total-close-blk{
    padding: 15px; 
    font-size: 1.15rem;
    background: #ffffff;
    display: none;
}
.sc-ion-input-ios-h{
    --padding-top: 3px;
    --padding-end: 10px;
    --padding-bottom: 3px;
    --padding-start: 0;
    font-size: inherit;
    border-radius: 5px;
}

.bottomline {
    border-bottom: 2px dashed #717070;
    margin: 0 15px;
}

.link-pages{
    font-size: 21px;
    color: #717070;
    font-weight: 500;
    background: #f2fffd;
    font-size: 1.2rem;
}
ul.checklist{
    list-style-type: none;
    margin: 0 0 0 11px;
    padding: 0;
    width: 100%;
}

.checklist li {
    list-style: none;
    float: left;
    padding: 9px;
    vertical-align: middle;
    font-size: 16.3px;
}

.checkbox-style {
    width: 17px;
    height: 17px;
}

.filter-pages{
    font-size: 21px;
    color: #717070;
    font-weight: 500;
    font-size: 1.2rem;
}

.table-responsive{
    overflow-x:auto;
    overflow-y:auto;
    height: auto;
    margin: 15px;
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 8px 12px 8px 0;
  }

  .minwidth{
    min-width: 135px;
  }
  .middlewidth{
    min-width: 200px;
  }
  .firstWidth{
    width: auto;
  }

tr:nth-child(even){background-color: #f2f2f2}

.btn-style {
    border: 1px solid #707070;
    background-color: #ffffff;
    padding: 8px;
    min-width: 150px;
    border-radius: 20px;
    font-size: 1.2rem;
    color: #707070;
    font-weight: lighter;
}

.active {
    border: 1px solid #18bc9c;
    color: #4fc2a8;
}