<ion-list lines="none">
  <ion-item >
    <p class="fontstyle">Status: <span class="statusVal">{{ mbInfo?.status_name }}</span></p>
  </ion-item>
</ion-list>
<ion-list lines="none" class="alertview-blk">
  <ion-item class="alert-blk" color="alertColor" >
    <p>
      The application deadline for the work report is
      until the morning of the first business day.
      Be careful not to forget to apply!
    </p>
  </ion-item>
</ion-list>
<ion-list lines="none" class="nextview-blk" (click)="goMoreInfoClient('/home/client')">
  <ion-item class="link-pages" color="newColor" >
    Customer Information
    <ion-icon slot="end" style="font-size: 24px;" name="chevron-forward-outline"></ion-icon>
  </ion-item>
</ion-list>
<ion-list class="bottomline" lines="none">
  <ion-item >
    <p class="fontstyle"></p>Transportation Expenses:
    <ion-select slot="end" value="{{mbInfo?.dairy_transrate_flg}}" placeholder="Select One" >
      <ion-select-option *ngFor="let t of tran_expen" value="{{ t.id }}">{{ t.value }}</ion-select-option>
    </ion-select> 
  </ion-item>
</ion-list>
<div class="table-responsive">
  <table class="table"> 
    <thead>
      <tr>
        <th scope="col" class="firstWidth">
          <div class="btn-style" [ngClass]="{
            'active': workreport_switch
          }" (click)="changeDisplayClick('workreport')">
            Work Report
          </div>
        </th>
        <th scope="col" class="minwidth" (click)="changeDisplayClick('transporatiion')">
          <div class="btn-style" [ngClass]="{
            'active': trasport_switch
          }" style="min-width: 250px;">
            Transportation Expenses
          </div>
        </th>
        <th scope="col" class="minwidth" (click)="changeDisplayClick('customer')">
          <div class="btn-style" [ngClass]="{
            'active': customer_switch
          }" style="min-width: 230px;">
            Customer Work Report
          </div>
        </th>
      </tr>
    </thead>
  </table>
</div>

<!-- Start Workreport list -->
<div id="workreport_blk" *ngIf="workreport_switch == true">
  <ion-list lines="none" class="filter-blk">
    <ion-item class="filter-pages" color="newColor" >
      Filter:
      <ion-icon slot="end" name="chevron-up-outline" style="font-size: 15px;"></ion-icon>
      <!-- <ion-icon slot="end" name="chevron-down-outline" style="font-size: 13px;"></ion-icon> -->
    </ion-item>
    <ul class="checklist">
      <li *ngFor="let entry of checkBoxList; let n = index  ">
        <div (click)="onClickDays(n)">
          <ion-checkbox class="checkbox-style"  slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
          {{entry.val}}
        </div>
      </li>
    </ul>
    <ul class="checklist">
      <li (click)="onClickDays(2)">
        <ion-icon slot="start" name="list-outline"></ion-icon>
        <ion-label style="margin-left: 5px;">List</ion-label>
      </li>
      <li>
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label style="margin-left: 5px;">Calendar</ion-label>
      </li>
    </ul>
    <div style="border-top: 1px dashed #f0f0f0;clear: both; height: 5px;">&nbsp;</div>
    <ul class="checklist">
      <li (click)="AllToggleFunction(1)">
        <ion-icon slot="start" name="expand-outline"></ion-icon>
        <ion-label style="margin-left: 5px;">Expand dates</ion-label>
      </li>
      <li (click)="AllToggleFunction(2)">
        <ion-icon slot="start" name="contract-outline"></ion-icon>
        <ion-label style="margin-left: 5px;">Collapse dates</ion-label>
      </li>
    </ul>
    <!-- <ion-item *ngFor="let entry of checkBoxList">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item> -->
  </ion-list>

  <ion-list lines="none">
    <ion-item>
      <ul class="checklist">
        <li>
          <ion-label style="color: #cccccc;">Jump to: </ion-label>
        </li>
        <li>
          <ion-label (click)="scrolltoElement('totalblk')"><u>Total</u></ion-label>
        </li>
        <li>
          <ion-label (click)="scrolltoElement('resultblk')"><u>Result</u></ion-label>
        </li>
      </ul>
    </ion-item>
  </ion-list>

  <div style="margin: 15px;">
    <ion-list lines="none">
      <ion-item class="showDate" *ngIf="notEnterMsg == false">
        <p>
          Showing dates with Working Hours Not Entered<br>
          <u (click)="onClickDays(2)" style="font-weight: 300;">View all dates</u> 
        </p>
        
      </ion-item>
    </ion-list>
  </div>
  

  <div *ngFor="let item of information; let i = index ">
    <ion-list lines="none" class="date-container bg-bluelight" *ngIf="(item.start_time == '00:00') && (isWeekEnd(item.report_date) == false) && (notEnter == false)" >
      <ion-item tappable (click)="myWkToggleFunction('mywk' + i, i)" class="date-blk" color="newColor" >
        <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
        <p>
          <span class="datetitle">{{ item.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
          <span> Working hours not entered</span>
        </p>
        <ion-icon slot="end" id="{{ 'wkdown' + i }}" style="font-size: 24px;color: #707070;"  name="chevron-down-outline"></ion-icon>
        <ion-icon slot="end" id="{{ 'wkup' + i }}" style="font-size: 24px;color: #707070;display: none;"  name="chevron-up-outline"></ion-icon>
      </ion-item>
      <ion-grid id="{{ 'mywk' + i }}" class="total-blk" [ngStyle]="!item.open ? {'display': 'none'} : {'display': 'block'}"  >
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Work Hours</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime" type="text" value="{{ item.start_time }}"></ion-input>
          </ion-col>
          <ion-col size="1" style="text-align: center;">-</ion-col>
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.end_time }}"></ion-input>
          </ion-col>
          <ion-col size="5">
            
          </ion-col> 
          <ion-col size="7">

            <ion-select class="dropdownstyle" value="{{ item.atendance_type }}" name="custWkReport" placeholder="-" >
              <ion-select-option *ngFor="let p of workPatternExist" value="{{ p.pattern }}">勤務時間_パタン{{ p.pattern }}</ion-select-option>
            </ion-select>
            <!-- <ion-input style="border: 1px solid #e4e4e4; text-align: center;" type="number" value="333"></ion-input> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Break Time</span> 
          </ion-col> 
          <ion-col size="2">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.total_break_time }}"></ion-input>
          </ion-col>
          <ion-col size="5">
            minutes
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Night Break Time</span> 
          </ion-col> 
          <ion-col size="2">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.night_break_time }}"></ion-input>
          </ion-col>
          <ion-col size="5">
            minutes
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Working Hours</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.total_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Amount Overtime</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.orver_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Late Night Work</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Deduction</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Attendance Type</span> 
          </ion-col> 
          <ion-col size="7">
            <ion-select class="dropdownstyle borderRadius" value="{{ item.atendance_type }}" placeholder="Select One" >
              <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Reason</span> 
          </ion-col> 
          <ion-col size="7">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.reason }}"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list lines="none" class="date-gray-container" *ngIf="(item.start_time != '00:00') && (isWeekEnd(item.report_date) == false) && (entered == false)">
      <ion-item tappable (click)="myWkToggleFunction('mywk' + i, i)" class="date-gray-blk" color="newColor" >
        <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
        <p>
          <span class="datetitle">{{ item.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
          <span> You have entered Working hours </span>
        </p>
        <ion-icon slot="end" id="{{ 'wkdown' + i }}" style="font-size: 24px;color: #707070;" name="chevron-down-outline"></ion-icon>
        <ion-icon slot="end" id="{{ 'wkup' + i }}" style="font-size: 24px;color: #707070; display: none;"  name="chevron-up-outline"></ion-icon>
      </ion-item>
      <ion-grid id="{{ 'mywk' + i }}" class="total-blk" [ngStyle]="!item.open ? {'display': 'none'} : {'display': 'block'}"  >
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Work Hours</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime" type="text" value="{{ item.start_time }}"></ion-input>
          </ion-col>
          <ion-col size="1" style="text-align: center;">-</ion-col>
          <ion-col size="3">
            <ion-input class="worktime" type="text" value="{{ item.end_time }}"></ion-input>
          </ion-col>
          <ion-col size="5">
            
          </ion-col> 
          <ion-col size="7">
            <ion-select class="worktime borderRadius" value="2" placeholder="Select One" >
              <ion-select-option >Stardard Hour</ion-select-option>
              <ion-select-option >Stardard Hour</ion-select-option>
            </ion-select>
            <!-- <ion-input style="border: 1px solid #e4e4e4; text-align: center;" type="number" value="333"></ion-input> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Break Time</span> 
          </ion-col> 
          <ion-col size="2">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.total_break_time }}"></ion-input>
          </ion-col>
          <ion-col size="5">
            minutes
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Night Break Time</span> 
          </ion-col> 
          <ion-col size="2">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.night_break_time }}"></ion-input>
          </ion-col>
          <ion-col size="5">
            minutes
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Working Hours</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.total_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Amount Overtime</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.orver_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Late Night Work</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Deduction</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Attendance Type</span> 
          </ion-col> 
          <ion-col size="7">
            <ion-select class="dropdownstyle" value="{{ item.atendance_type }}" placeholder="Select One" >
              <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Reason</span> 
          </ion-col> 
          <ion-col size="7">
            <ion-input style="border: 1px solid #e4e4e4; color: #707070" type="text" value="{{ item.reason }}"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list lines="none" class="date-weekend-container" *ngIf="(isWeekEnd(item.report_date) == true)  && ( weekEnd == false)">
      <ion-item tappable (click)="myWkToggleFunction('mywk' + i, i)" class="date-weekend-blk" color="newColor" >
        <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
        <p>
          <span class="datetitle">{{ item.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
          <span>No Entries</span>
        </p>
        <ion-icon slot="end" id="{{ 'wkdown' + i }}" style="font-size: 24px;color: #707070;" name="chevron-down-outline"></ion-icon>
        <ion-icon slot="end" id="{{ 'wkup' + i }}" style="font-size: 24px;color: #707070; display: none;" name="chevron-up-outline"></ion-icon>
      </ion-item>
      <ion-grid id="{{ 'mywk' + i }}" class="total-blk" [ngStyle]="!item.open ? {'display': 'none', 'transition': '2s'} : {'display': 'block', 'transition': '2s'}"  >
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Work Hours</span> 
          </ion-col> 
          <ion-col size="3"></ion-col>
          <ion-col size="1" style="text-align: center;"></ion-col>
          <ion-col size="3"></ion-col>
          <ion-col size="5">
            
          </ion-col> 
          <ion-col size="7"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Break Time</span> 
          </ion-col> 
          <ion-col size="2"></ion-col>
          <ion-col size="5">
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Night Break Time</span> 
          </ion-col> 
          <ion-col size="2"></ion-col>
          <ion-col size="5">
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Working Hours</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.total_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Amount Overtime</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.orver_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Late Night Work</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Deduction</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.night_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Attendance Type</span> 
          </ion-col> 
          <ion-col size="7">
            <ion-select class="dropdownstyle borderRadius" value="{{ item.atendance_type }}" placeholder="Select One" >
              <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Reason</span> 
          </ion-col> 
          <ion-col size="7">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.reason }}"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>

  <ion-list id="totalblk" lines="none" class="date-white-container">
    <ion-item class="date-white-blk" color="newColor" >
      <span style="font-size: 20px;">Total</span>
      <ion-icon slot="end" style="font-size: 24px;color: #707070;" name="chevron-up-outline"></ion-icon>
    </ion-item>
    <ion-grid class="total-blk">
      <ion-row>
        <ion-col size="8">Working Hours</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Overtime</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Late Night Working Hours</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Deduction Hours</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list id="resultblk" lines="none" class="date-white-container">
    <ion-item tappable (click)="toggleSection(32)" [ngClass]="{'section-active': total, 'section': !total}" class="date-white-blk" color="newColor" >
      <span style="font-size: 20px;">Result</span>
      <ion-icon slot="end" style="font-size: 24px;color: #707070;" name="chevron-up-outline"></ion-icon>
    </ion-item>
    <ion-grid class="total-blk">
      <ion-row>
        <ion-col size="8">Working Hours</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Overtime</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Overtime Payments</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Late Night Working Hours</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Deduction Hours</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Exercise of Paid Holidays</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Exercise of Paid Half Holidays</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Total</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Absenteeism Days</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Closing Dates</ion-col>
        <ion-col size="4" class="textcenter">0</ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="6">&nbsp;</ion-col>
      <ion-col size="6" >
        <div class="bd1-color">
          <ion-icon slot="start"class="icon-style" name="cloud-download-outline"></ion-icon>
          Download PDF
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<!-- End Workreport list -->

<!-- Start Transporation Expense -->
<div id="transportext" *ngIf="trasport_switch == true">
  <ion-list lines="none" class="date-container bg-bluelight" *ngFor ="let te of tranExpen.transport_expense_detail; let i = index" >
    <ion-item tappable  class="date-blk" color="newColor" >
    <!-- <ion-item tappable (click)="toggleSection(90)"  class="date-blk" color="newColor" > -->
      <p style="margin: 7px auto;">
        <span class="datetitle">Transportation Expenses</span>
        <!-- <br>
        {{ te.use_date | date: 'yyyy/MM/dd EEEE' }} -->
      </p>
    </ion-item>
    <ion-grid class="total-blk"  >
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Date</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-datetime class="worktime borderRadius" value="{{ te.use_date }}" display-timezone="utc"></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Destination</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-input class="worktime borderRadius" type="text" value="{{ te.destination }}"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Tronsporation</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-select class="worktime borderRadius" value="{{ te.transport_type }}" placeholder="Select One" >
            <ion-select-option *ngFor="let s of transporation" value="{{ s.id }}">{{ s.value }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Departure</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-input class="worktime borderRadius" type="text" value="{{ te.from_area }}"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Arrival</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-input class="worktime borderRadius" type="text" value="{{ te.to_area }}"></ion-input>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Trip Type</span> 
        </ion-col> 
        <ion-col size="6">
          <ul class="checklist">
            
            <li >
              <label *ngIf="te.rourte_type == 0">
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="true"  ></ion-checkbox>
                One-way<br>
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="false"  ></ion-checkbox>
                Round-Trip
              </label>
              <label *ngIf="te.rourte_type == 1">
                <ion-checkbox  class="checkbox-style" [checked]="false" slot="start" ></ion-checkbox>
                One-way<br>
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="true"  ></ion-checkbox>
                Round-Trip
              </label>
              
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Voucher</span> 
        </ion-col> 
        <ion-col size="6">
          <ul class="checklist">
            <li >
              <label *ngIf="te.print_flg == 0">
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="true"  ></ion-checkbox>
                No
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="false"  ></ion-checkbox>
                Yes
              </label>
              <label *ngIf="te.print_flg == 1">
                <ion-checkbox  class="checkbox-style" [checked]="false" slot="start" ></ion-checkbox>
                No
                <ion-checkbox  class="checkbox-style" slot="start" [checked]="true"  ></ion-checkbox>
                Yes
              </label>
              
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Amount</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-input type="number" class="worktime borderRadius" value="{{ te.amount }}"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Billing</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-select class="worktime borderRadius" value="{{ te.demand_type }}" placeholder="Select One" >
            <ion-select-option *ngFor="let d of deman_type" value="{{ d.id }}">{{ d.value }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <span style="margin-top: 5px;">Action</span> 
        </ion-col> 
        <ion-col size="6">
          <ion-button color="white" class="del-btn" >
            <ion-icon slot="start" name="trash-outline" style="font-size: 1.2rem;"></ion-icon>
              Remove
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list class="btn-container" lines="none">
    <ion-item lines="none">
      <div class="addnewblg">
          <ion-button color="secondary" class="add-transport-btn" >
              + Add transporation expense
          </ion-button>
      </div>
    </ion-item>
    
  </ion-list>
  


  <div class="totol-container">
    <ion-list class="total-container">
      <ion-grid>
        <ion-row>
          <ion-col>Total Amount</ion-col>
          <ion-col>
            <ion-input type="number" class="worktime borderRadius" style="padding: 5px !important"  value="{{ tranExpen.total_amount }}"></ion-input>
          </ion-col>
          <ion-col class="textcenter" size="2">JPY</ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>Customer Billing</ion-col>
          <ion-col>
            <ion-input type="number" class="worktime borderRadius" style="padding: 5px !important" value=""></ion-input>
          </ion-col>
          <ion-col class="textcenter" size="2">JPY</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">&nbsp;</ion-col>
          <ion-col size="6" style="padding-top: 15px;">
            <div class="bd1-color">
              <ion-icon slot="start"class="icon-style" name="cloud-download-outline"></ion-icon>
              Download PDF
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</div> <!-- End Transporation Expense -->

<!-- Start cusomer report block display -->
<div id="customerWorkReport" *ngIf="customer_switch == true">
  <div class="topblg"  *ngFor="let c of customerWorkReport">
    <ion-list lines="none" class="date-white-container">
      <ion-item tappable (click)="toggleSectionc()" [ngClass]="{'section-active': customerWorkReport?.open, 'section': !customerWorkReport?.open}" class="customer-blk" color="newColor" >
        <!-- <ion-item tappable (click)="toggleSection(90)"  class="date-blk" color="newColor" > -->
          <p>
            <span style="font-weight: 500;color: #707070;">Detail</span>
          </p>
          <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!customerWorkReport?.open" name="chevron-down-outline"></ion-icon>
          <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="customerWorkReport?.open" name="chevron-up-outline"></ion-icon>
      </ion-item>
      <ion-grid class="detail-box" [ngStyle]="!customerWorkReport?.open ? {'display': 'none'} : {'display': 'block'}">
        <ion-row>
          <ion-col size="5"><b style="color: #707070;">Customer Name</b></ion-col>
          <ion-col size="7">{{ c.client_name }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><b style="color: #707070;">Project Name</b></ion-col>
          <ion-col size="7">{{ c.project_name }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5"><b style="color: #707070;">Contract Period</b></ion-col>
          <ion-col size="7">{{ c.start_contract_date | date: 'yyyy/MM/dd' }} to {{ c.end_contract_date | date: 'yyyy/MM/dd' }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    
    <ion-list lines="none">
      <ion-item>
        <b style="color: #707070;">Customer Work Report</b>
        <ion-select slot="end" id="customerWkDropdown" value="{{ postData.mySelect }}" [(ngModel)]="postData.mySelect" placeholder="{{ placeholder }}" (ngModelChange)='onOptionsSelected(postData.mySelect)' class="dropdownstyle borderRadius dropdown" style="padding: 7px 13px;" >
          <ion-select-option *ngFor="let t of tran_expen; let i of index" selected="true" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
        </ion-select>
        
      </ion-item>
      <ion-item>
        <p>If there is a work report for submitting the customer,
          please upload it. </p>
          
      </ion-item>
    </ion-list>
    <div id="customer_attend_list" *ngIf="customerSelectOpt == 0" >
      <div class="datelist" *ngFor="let items of c.customer_workreport_items| slice:0; let r = index;">
        <!-- start Date not entered -->
        <ion-list lines="none" class="date-container bg-bluelight" *ngIf="items.customer_start_time == '00:00' && isWeekEnd(items.report_date) == false " >
          <ion-item tappable (click)="myToggleFunction('myid' + r, r)"  class="date-blk" color="newColor" >
            <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
            <p>
              <span class="datetitle">{{ items.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
              <span> Working hours not entered</span>
            </p>
            <ion-icon slot="end" id="{{ 'down' + r }}" style="font-size: 24px;color: #707070;" name="chevron-down-outline"></ion-icon>
            <ion-icon slot="end" id="{{ 'up' + r }}" style="font-size: 24px;color: #707070; display: none;" name="chevron-up-outline"></ion-icon>
          </ion-item>
          <ion-grid id="{{ 'myid' + r }}" class="total-blk" [ngStyle]="!items.open ? {'display': 'none'} : {'display': 'block'}">
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Work Hours</span> 
              </ion-col> 
              <ion-col size="3">
                <ion-input class="worktime" type="text" value="{{ items.customer_start_time }}"></ion-input>
              </ion-col>
              <ion-col size="1" style="text-align: center;">-</ion-col>
              <ion-col size="3">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_end_time }}"></ion-input>
              </ion-col>
              <ion-col size="5">
                
              </ion-col> 
              <ion-col size="7">
                <!-- <ion-select  value="2" placeholder="Select One" >
                  <ion-select-option >Stardard Hour</ion-select-option>
                  <ion-select-option >Stardard Hour</ion-select-option>
                </ion-select> -->
                <ion-select class="dropdownstyle" value="{{ items.customer_attendance_type }}" name="custWkReport" placeholder="-" >
                  <ion-select-option *ngFor="let p of workPatternExist" value="{{ p.pattern }}">勤務時間_パタン{{ p.pattern }}</ion-select-option>
                </ion-select>
                <!-- <ion-input style="border: 1px solid #e4e4e4; text-align: center;" type="number" value="333"></ion-input> -->
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Break Time</span> 
              </ion-col> 
              <ion-col size="2">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_break_time }}"></ion-input>
              </ion-col>
              <ion-col size="5">
                minutes
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Night Break Time</span> 
              </ion-col> 
              <ion-col size="2">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_night_break_time }}"></ion-input>
              </ion-col>
              <ion-col size="5">
                minutes
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Working Hours</span> 
              </ion-col> 
              <ion-col size="3">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_total_work_time }}"></ion-input>
              </ion-col>
              <ion-col size="4"></ion-col>
            </ion-row>
    
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Attendance Type</span> 
              </ion-col> 
              <ion-col size="7">
                <ion-select class="dropdownstyle borderRadius" value="{{ items.customer_attendance_type }}" placeholder="Select One" >
                  <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Reason</span> 
              </ion-col> 
              <ion-col size="7">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_reason }}"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <!-- end Date not entered -->

        <!-- Weekend Date Started -->
        <ion-list lines="none" class="date-weekend-container" *ngIf="items.customer_start_time == '00:00' && isWeekEnd(items.report_date) == true" >
          <ion-item tappable (click)="myToggleFunction('myid' + r, r)"  class="date-weekend-blk" color="newColor" >
            <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
            <p>
              <span class="datetitle">{{ items.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
              <span> No Entries</span>
            </p>
            <ion-icon slot="end" id="{{ 'down' + r }}" style="font-size: 24px;color: #707070;" name="chevron-down-outline"></ion-icon>
            <ion-icon slot="end" id="{{ 'up' + r }}" style="font-size: 24px;color: #707070; display: none;" name="chevron-up-outline"></ion-icon>
          </ion-item>
          <ion-grid id="{{ 'myid' + r }}" class="total-blk" [ngStyle]="!items.open ? {'display': 'none'} : {'display': 'block'}">
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Work Hours</span> 
              </ion-col> 
              <ion-col size="3"></ion-col>
              <ion-col size="1" style="text-align: center;"></ion-col>
              <ion-col size="3"></ion-col>
              <ion-col size="5">
                
              </ion-col> 
              <ion-col size="7"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Break Time</span> 
              </ion-col> 
              <ion-col size="2"></ion-col>
              <ion-col size="5">
                
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Night Break Time</span> 
              </ion-col> 
              <ion-col size="2"></ion-col>
              <ion-col size="5">
                
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Working Hours</span> 
              </ion-col> 
              <ion-col size="3">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_total_work_time }}"></ion-input>
              </ion-col>
              <ion-col size="4"></ion-col>
            </ion-row>
    
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Attendance Type</span> 
              </ion-col> 
              <ion-col size="7">
                <ion-select class="dropdownstyle borderRadius" value="{{ items.customer_attendance_type }}" placeholder="Select One" >
                  <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Reason</span> 
              </ion-col> 
              <ion-col size="7">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_reason }}"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <!-- Weekend Date End-->

        <!-- Date entered Started -->
        <ion-list lines="none" class="date-gray-container" *ngIf="items.customer_start_time != '00:00' && isWeekEnd(items.report_date) == false" >
          <ion-item tappable (click)="myToggleFunction('myid' + r, r)"  class="date-gray-blk" color="newColor" >
            <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
            <p>
              <span class="datetitle">{{ items.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
              <span> You have entered Working hours</span>
            </p>
            <ion-icon slot="end" id="{{ 'down' + r }}" style="font-size: 24px;color: #707070;" name="chevron-down-outline"></ion-icon>
            <ion-icon slot="end" id="{{ 'up' + r }}" style="font-size: 24px;color: #707070; display: none;" name="chevron-up-outline"></ion-icon>
          </ion-item>
          <ion-grid id="{{ 'myid' + r }}" class="total-blk" [ngStyle]="!items.open ? {'display': 'none'} : {'display': 'block'}">
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Work Hours</span> 
              </ion-col> 
              <ion-col size="3">
                <ion-input class="worktime" type="text" value="{{ items.customer_start_time }}"></ion-input>
              </ion-col>
              <ion-col size="1" style="text-align: center;">-</ion-col>
              <ion-col size="3">
                <ion-input class="worktime" type="text" value="{{ items.customer_end_time }}"></ion-input>
              </ion-col>
              <ion-col size="5">
                
              </ion-col> 
              <ion-col size="7">
                <ion-select class="worktime borderRadius" value="2" placeholder="Select One" >
                  <ion-select-option >Stardard Hour</ion-select-option>
                  <ion-select-option >Stardard Hour</ion-select-option>
                </ion-select>
                <!-- <ion-input style="border: 1px solid #e4e4e4; text-align: center;" type="number" value="333"></ion-input> -->
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Break Time</span> 
              </ion-col> 
              <ion-col size="2">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_break_time }}"></ion-input>
              </ion-col>
              <ion-col size="5">
                minutes
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Night Break Time</span> 
              </ion-col> 
              <ion-col size="2">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_night_break_time }}"></ion-input>
              </ion-col>
              <ion-col size="5">
                minutes
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Working Hours</span> 
              </ion-col> 
              <ion-col size="3">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_total_work_time }}"></ion-input>
              </ion-col>
              <ion-col size="4"></ion-col>
            </ion-row>
    
            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Attendance Type</span> 
              </ion-col> 
              <ion-col size="7">
                <ion-select class="dropdownstyle borderRadius" value="{{ items.customer_attendance_type }}" placeholder="Select One" >
                  <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="5">
                <span style="margin-top: 5px;">Reason</span> 
              </ion-col> 
              <ion-col size="7">
                <ion-input class="worktime borderRadius" type="text" value="{{ items.customer_reason }}"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <!--  Date entered End-->
        
      </div>
    </div>
  </div>

  <div class="displayswitch" *ngIf="customerSelectOpt == 1">

    <ion-grid style="border-bottom: 1px dashed #000000; margin: 15px; padding-bottom: 15px;">
      <ion-row>
        <ion-col size="6">
          <div class="bd1-color">
            <ion-icon slot="start"class="icon-style" name="cloud-download-outline"></ion-icon>
            Upload PDF
          </div>
        </ion-col>
        <ion-col>
          <div class="bd1-color" style="border: 1px solid #feaa46; color: #feaa46;">
            <ion-icon slot="start"class="icon-style" style="color: #feaa46;" name="trash-outline"></ion-icon>
            Remove
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
    <ion-list lines="none" class="date-white-container" >
      <ion-item style="border-bottom: 2px solid #ebebeb;" tappable (click)="toggleSectionc()" [ngClass]="{'section-active': customerWorkReport?.open, 'section': !customerWorkReport?.open}" class="customer-blk" color="newColor" >
        <!-- <ion-item tappable (click)="toggleSection(90)"  class="date-blk" color="newColor" > -->
          <p>
            <span style="font-weight: 700;color: #707070; font-size: 1.3rem;">Total</span>
          </p>
          <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!customerWorkReport?.open" name="chevron-down-outline"></ion-icon>
          <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="customerWorkReport?.open" name="chevron-up-outline"></ion-icon>
      </ion-item>
      <ion-item [ngStyle]="!customerWorkReport?.open ? {'display': 'none'} : {'display': 'block'}">
        <p style="width: 100%">
          <span style="float: left;font-weight: 700;color: #707070; padding: 10px 5px;">Actual Working Hours</span>
          <span style="float: right;padding: 10px 24px;">0</span>
        </p>
      </ion-item>
    </ion-list>
  </div>
  <!-- if cusomer report 0 display -->
  <div class="displayswitch" *ngIf="customerSelectOpt == 0">
    <ion-list lines="none" class="date-white-container" >
      <ion-item style="border-bottom: 2px solid #ebebeb;" tappable (click)="toggleSectionc()" [ngClass]="{'section-active': customerWorkReport?.open, 'section': !customerWorkReport?.open}" class="customer-blk" color="newColor" >
        <!-- <ion-item tappable (click)="toggleSection(90)"  class="date-blk" color="newColor" > -->
          <p>
            <span style="font-weight: 700;color: #707070; font-size: 1.3rem;">Total</span>
          </p>
          <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!customerWorkReport?.open" name="chevron-down-outline"></ion-icon>
          <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="customerWorkReport?.open" name="chevron-up-outline"></ion-icon>
      </ion-item>
      <ion-item [ngStyle]="!customerWorkReport?.open ? {'display': 'none'} : {'display': 'block'}">
        <p style="width: 100%">
          <span style="float: left;font-weight: 700;color: #707070; padding: 10px 5px;">Actual Working Hours</span>
          <span style="float: right;padding: 10px 24px;">00:00</span>
        </p>
      </ion-item>
    </ion-list>
  </div>
</div>
<!-- End cusomer report block display -->
