<div class="datelist" *ngFor="let item of customerWorkReportDetail; let i = index">
    <ion-list lines="none" class="date-container" *ngIf="item.customer_start_time == '00:00' && isWeekEnd(item.report_date) == false" >
      <ion-item tappable (click)="toggleSectionCustomer(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}" class="date-blk" color="newColor" >
        <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
        <p>
          <span class="datetitle">{{ item.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
          <span> Working hours not entered</span>
        </p>
        <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!item.open" name="chevron-down-outline"></ion-icon>
        <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="item.open" name="chevron-up-outline"></ion-icon>
      </ion-item>
      <ion-grid class="total-blk" [ngStyle]="!item.open ? {'display': 'none'} : {'display': 'block'}"  >
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Work Hours</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime" type="text" value="{{ item.customer_start_time }}"></ion-input>
          </ion-col>
          <ion-col size="1" style="text-align: center;">-</ion-col>
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.customer_end_time }}"></ion-input>
          </ion-col>
          <ion-col size="5">
            
          </ion-col> 
          <ion-col size="7">
            <!-- <ion-select  value="2" placeholder="Select One" >
              <ion-select-option >Stardard Hour</ion-select-option>
              <ion-select-option >Stardard Hour</ion-select-option>
            </ion-select> -->
            <ion-select class="dropdownstyle" value="{{ item.customer_attendance_type }}" name="custWkReport" placeholder="-" >
              <ion-select-option *ngFor="let p of workPatternExist" value="{{ p.pattern }}">勤務時間_パタン{{ p.pattern }}</ion-select-option>
            </ion-select>
            <!-- <ion-input style="border: 1px solid #e4e4e4; text-align: center;" type="number" value="333"></ion-input> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Break Time</span> 
          </ion-col> 
          <ion-col size="2">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.customer_break_time }}"></ion-input>
          </ion-col>
          <ion-col size="5">
            minutes
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Night Break Time</span> 
          </ion-col> 
          <ion-col size="2">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.customer_night_break_time }}"></ion-input>
          </ion-col>
          <ion-col size="5">
            minutes
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Working Hours</span> 
          </ion-col> 
          <ion-col size="3">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.customer_total_work_time }}"></ion-input>
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Attendance Type</span> 
          </ion-col> 
          <ion-col size="7">
            <ion-select class="dropdownstyle borderRadius" value="{{ item.customer_attendance_type }}" placeholder="Select One" >
              <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <span style="margin-top: 5px;">Reason</span> 
          </ion-col> 
          <ion-col size="7">
            <ion-input class="worktime borderRadius" type="text" value="{{ item.customer_reason }}"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    
  </div>
<ion-list lines="none" class="date-gray-container" *ngIf="item.customer_start_time != '00:00' && isWeekEnd(item.report_date) == false">
    <ion-item tappable (click)="toggleSectionc()" [ngClass]="{'section-active': item.open, 'section': !item.open}" class="date-gray-blk" color="newColor" >
      <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
      <p>
        <span class="datetitle">{{ item.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
        <span> You have entered Working hours </span>
      </p>
      <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!item.open" name="chevron-down-outline"></ion-icon>
      <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="item.open" name="chevron-up-outline"></ion-icon>
    </ion-item>
    <ion-grid class="total-blk" [ngStyle]="!item.open ? {'display': 'none'} : {'display': 'block'}"  >
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Work Hours</span> 
        </ion-col> 
        <ion-col size="3">
          <ion-input class="worktime" type="text" value="{{ item.customer_start_time }}"></ion-input>
        </ion-col>
        <ion-col size="1" style="text-align: center;">-</ion-col>
        <ion-col size="3">
          <ion-input class="worktime" type="text" value="{{ item.customer_end_time }}"></ion-input>
        </ion-col>
        <ion-col size="5">
          
        </ion-col> 
        <ion-col size="7">
          <ion-select class="worktime borderRadius" value="2" placeholder="Select One" >
            <ion-select-option >Stardard Hour</ion-select-option>
            <ion-select-option >Stardard Hour</ion-select-option>
          </ion-select>
          <!-- <ion-input style="border: 1px solid #e4e4e4; text-align: center;" type="number" value="333"></ion-input> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Break Time</span> 
        </ion-col> 
        <ion-col size="2">
          <ion-input class="worktime borderRadius" type="text" value="{{ item.customer_break_time }}"></ion-input>
        </ion-col>
        <ion-col size="5">
          minutes
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Night Break Time</span> 
        </ion-col> 
        <ion-col size="2">
          <ion-input class="worktime borderRadius" type="text" value="{{ item.customer_night_break_time }}"></ion-input>
        </ion-col>
        <ion-col size="5">
          minutes
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Working Hours</span> 
        </ion-col> 
        <ion-col size="3">
          <ion-input class="worktime borderRadius" type="text" value="{{ item.customer_total_work_time }}"></ion-input>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Attendance Type</span> 
        </ion-col> 
        <ion-col size="7">
          <ion-select class="dropdownstyle" value="{{ item.customer_attendance_type }}" placeholder="Select One" >
            <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Reason</span> 
        </ion-col> 
        <ion-col size="7">
          <ion-input style="border: 1px solid #e4e4e4; color: #707070" type="text" value="{{ item.customer_reason }}"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-list lines="none" class="date-weekend-container" *ngIf="isWeekEnd(item.report_date) == true">
    <ion-item tappable (click)="toggleSectionc()" [ngClass]="{'section-active': item.open, 'section': !item.open}" class="date-weekend-blk" color="newColor" >
      <ion-icon slot="start" style="color: #707070;" name="alert-outline"></ion-icon>
      <p>
        <span class="datetitle">{{ item.report_date | date: 'yyyy/MM/dd EEEE' }}</span><br>
        <span>No Entries</span>
      </p>
      <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="!item.open" name="chevron-down-outline"></ion-icon>
      <ion-icon slot="end" style="font-size: 24px;color: #707070;" *ngIf="item.open" name="chevron-up-outline"></ion-icon>
    </ion-item>
    <ion-grid class="total-blk" [ngStyle]="!item.open ? {'display': 'none', 'transition': '2s'} : {'display': 'block', 'transition': '2s'}"  >
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Work Hours</span> 
        </ion-col> 
        <ion-col size="3"></ion-col>
        <ion-col size="1" style="text-align: center;"></ion-col>
        <ion-col size="3"></ion-col>
        <ion-col size="5">
          
        </ion-col> 
        <ion-col size="7"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Break Time</span> 
        </ion-col> 
        <ion-col size="2"></ion-col>
        <ion-col size="5">
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Night Break Time</span> 
        </ion-col> 
        <ion-col size="2"></ion-col>
        <ion-col size="5">
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Working Hours</span> 
        </ion-col> 
        <ion-col size="3">
          <ion-input class="worktime borderRadius" type="text" value="{{ item.total_work_time }}"></ion-input>
        </ion-col>
        <ion-col size="4"></ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Attendance Type</span> 
        </ion-col> 
        <ion-col size="7">
          <ion-select class="dropdownstyle borderRadius" value="{{ item.customer_attendance_type }}" placeholder="Select One" >
            <ion-select-option *ngFor="let t of attendance_type" value="{{ t.id }}" >{{ t.value }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <span style="margin-top: 5px;">Reason</span> 
        </ion-col> 
        <ion-col size="7">
          <ion-input class="worktime borderRadius" type="text" value="{{ item.customer_reason }}"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list> 